/*
	Stephen Hung
	CSE 154 AD
	This CSS page is the styling page for tmnt.html so that it is similar to the 
	CSE 154 assignment.
	This also implements additional features such as the favicon and the opaque W3C
	validators.
*/
body {
	/* basic styling */

	background-image: url('https://webster.cs.washington.edu/images/moviebg.png');
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0;
}

body h1, .review {
	font-family: Georgia, "Times New Roman",serif;
}

body h1 {
	/* title */

	font-size: 24pt;
	text-align: center;
	text-shadow: 3px 3px #999999;
}

.column {
	float:left;
	padding-left:2%;
	width:47%;
}

.column img {
	/* Image inside each review */

	padding-right: 5px;
	float:left;
}

#general-overview {
	/* right side of content area */

	background-color:#A2B964;
	float: right;
	width: 250px;
}

#general-overview dl {
	/* entire list */

	padding-left:10pt;
	padding-right:10pt;
}

#general-overview dl dt {
	/* headers in list */

	font-weight:bold;
	margin-top:10pt;
}

#general-overview dl dd ul {
	/* links in list */

	list-style:none;
	padding-left:0;
}

#image-banner {
	/* image banner on top */

	background-image: url('https://webster.cs.washington.edu/images/rancidbannerbg.png');
	height: 50px;
	text-align: center;
}

#overall-content-area {
	/* Overall content area containing all information in the middle */

	background-color: #EEEEEE;
	border-radius:20px;
	box-shadow: 5px 5px 5px gray;
	margin: auto auto;
	overflow:hidden;
	width: 800px;
}

#page-number{
	/* paragraph inside margin */

	background-color:#A2B964;
	clear:both;
	margin:0;
	text-align: center;
	padding:5px;
}

#review-area {
	/* Left side of main content area */

	float: left;
	width: 550px;
}

.review {
	/* review */

	background-color: #FFFFFF;
	border: 2px solid #CCCCCC;
	border-radius: 20px;
	overflow:hidden;
	padding: 8px;
}

.reviewer {
	/* reviewer */

	margin-bottom:20pt;
	overflow:hidden;
}

.reviewer span {
	font-style: italic;
}

#score {
	/* score on top of left side of content area(review-area) */

	background-image: url('https://webster.cs.washington.edu/images/rottenlargebg.png');
	color:red;
	font-size: 48pt;
	font-weight: bold;
	height: 83px;
}

#score img {
	vertical-align: bottom;
}

#validators {
	float:right;
}

#validators img {
	opacity:0.5;
}

#validators img:hover{
	opacity:1;
}